<section class="Section Section--spacingNormal" id="section-{{ section.id }}" data-section-id="{{ section.id }}">
    <div id="feed-{{ product.metafields.my_fields.instafeed_code}}" class="instafeed-shopify"></div>
</section>
